*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: rgba(49, 51, 53, 0.6);
}
/*TÍTULO*/
#box_titulo{
	display: block;
	position: fixed;
	margin-left:15%;
	top:15px;
	width: 300px;
	height: 70px;
	cursor:pointer;
}
.titulo{
	font-family: ringBearer;
	font-variant: small-caps;
	font-size: 42px;
	line-height: 0.2;
	position: relative;
	margin-left: 12px;
	color:#fff;
	text-shadow: 2px 3px  2px rgba(173, 101, 0, 0.96);

}
.subtitulo{
	font-family: optimusPriceps;
	font-size: 15px;
	line-height: 0;
	letter-spacing: 0;
	width: 150px;
	position: absolute;
	bottom:-2px;
	right: 25px;
	margin-left: 20px;
	color:white;
	text-shadow: 1px 1px 4px darkred;
}

/*CLASSES TOPO*/
.topo{
	width: 100%;
	height: 180px;
	position: fixed;
	background-color: rgba(25, 25, 25, 0.95);
	/*background-color: rgba(0,0,0,0.6);*/
}
#superior {
		position: fixed;
		width: 100%;
		height: 130px;
		border-bottom: 1px solid darkred;
		box-shadow: 0 1px 2px #5e1010; /*quase  darkred*/
}
#inferior{
	position: fixed;
	top:130px;
	width: 100%;
	height: 61px;
	/*border-bottom:2px solid #ff35a5;*/
	box-shadow: 1px 3px #85B4C8;
	z-index: -1;
}

/*BOX DOS ITENS CONTA+CARRINHO*/
#account_box{
	display: block;
	width: 180px;
	height:60px;
	position: absolute;
	top:20px;
	right: 150px;

}
#account_box > div{
	display: inline-block;
	position: relative;
	width: 60px;
	height:60px;
	margin-right: 15px;
}
.image_account{
	display:block;
	position:absolute;
	top: 12px;
	left:5px;
	width:40px;
	height:40px;
	cursor: pointer;
}
#account_box  img:active{
	opacity: 0.8;

}
.arrow-account{
	display: block;
	position:absolute;
	top:5px;
	left:40px;
	height:25px;
	width:16px;
	background: url("../img/icon/if_arrow_sans_down_white16.png") no-repeat left;
	cursor: pointer;
}

/*BOX CONTADOR DE ITENS */
#box_contador{
	display:none;
	position:absolute;
	top:0;
	left:50px;
	padding: 12px 2px 0 ;
	width:40px;
	height: 58px;
	line-height: 0.9;
}
#box_contador span{
	color:greenyellow;
}
#box_contador span:first-child{
	font-size: 30px;
}
#box_contador span:last-child {
	font-size: 16px;
	font-weight: bold;
}

/*BARRA DE PESQUISA*/
#barra_pesquisa{
	display: block;
	width: 370px;
	height:35px;
	margin: 0 auto;
	position: absolute;
	top:30px;
	left:550px;
}
#search-topo{
	margin:auto;
	position: absolute;
	top:0;
	left:0;
	display:inline-block;
	width: 330px;
	height: 35px;
	padding-left: 25px;
	background:  url("../img/icon/if_icon-search.png") no-repeat left;
	border: 1px solid rgba(255, 255, 255, 0.57);
	border-right:none;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}
#search-topo:focus{
	background: whitesmoke url("../img/icon/if_icon-search.png") no-repeat left;
	border: 2px solid #9a5404;
	outline: none;
}
#search-topo::-webkit-input-placeholder{
	text-align: left;
	font-variant: small-caps;
	text-overflow: ellipsis;
	color: #b2b2b2;
}
#search-topo:focus::-webkit-input-placeholder{
	color:transparent;
}
#buscar{
	position:absolute;
	top:0;
	right:0;
	display:inline-block;
	width:40px;
	height:35px;
	border: 1px solid rgba(255,255,255,0.57);
	border-left:none;
	background: #4d4d4d url(../img/icon/search_2.png) no-repeat left;
	background-size: 40px 30px;
}
#buscar:hover{
	background-color: black;
	border-left: 1px solid rgba(255,255,255,0.57);
}
#buscar:active{
	box-shadow: 0 1px gray;
	transform:translateY(1px);
	background-color: #252525;
}

/*ARROW HOVER BOX LOGIN*/
#account:hover .box-login{
	display: block;
}
#account:hover .arrow-account{
	opacity:0.5;
}

/*BOX LOGIN*/
.box-login {
	display:none;
	position: absolute;
	top:50px;
	right:14px;
	width:190px;
	height:100px;
	z-index: 1;
	cursor: pointer;
	background-color: rgba(25, 25, 25, 0.95);
	border: 1px solid rgba(42,42,42);
	border-radius:2px;
}
.item-login {
	font-family: optimusPriceps;
	font-size: 12px;
	color:white;
}
#welcome{
	margin-top: 4px;
	margin-left:15px;
	position:relative;
	text-align: center;
	top:5px;
	color: white;
}
a.item-login{
	display: inline-block;
	margin-left:30px;
	margin-bottom: 10px;
	padding-left: 25px;
}
a.item-login:hover{
	text-decoration: underline;
	color:white;
}
#minha_conta{
	background: url(../img/icon/if_Customers_Filled_white.png) no-repeat;
	background-size: 14px 14px;

}
#meus_pedidos{
	background: url(../img/icon/list1.png) no-repeat;
	background-size: 14px 14px;
}


/*
.box-login > form{
	position: relative;
	top: 30px;
	right: -10px;
	padding-left: 15px;
	width: 200px;
	height: 120px;
	background-color: rgba(25, 25, 25, 0.91);
	border: 5px solid transparent ;
	border-radius: 7px;
}
.box-login input{
	margin: 4px 2px 5px;
	width: 180px;
	height:30px;
	position:relative;
	right:10px;
	padding-left: 5px;
	border-radius: 3px;
	word-spacing: 2px;
	vertical-align: text-bottom;
	color:black;
}
.box-login input:focus{
	box-shadow: 2px 2px 2px darkred;

}

#entrar{
	margin-left:5px;
	margin-top: 10px;
	position: absolute;
	right:5px;
	bottom:10px;
	width:100px;
	height:20px;
	padding:2px;
	background-color: #881700;
	color:white;
	cursor:pointer;
	font-size: 12px;
	box-shadow: 1px 1px #985f0d;
}
#entrar:hover{
	background-color: #691200;
}
#entrar:active{
	background-color: #691200;
	box-shadow: 0  0 #8b530d;
	transform: translateY(1px);
	padding: 3px;
}

/*
//esqueceu a senha

.box-login span{
	color:#3278bf;
	font-family:"Times New Roman", "Calibri Light";
	font-size: 10px;
	line-height: 0.1;
	position: absolute;
	bottom:1px;
	right:10px;
	padding-left: 3px;
}
.box-login span:hover{
	text-decoration: underline;
	cursor: pointer;
}
.box-login span:active{
	color: #44ade4;
}
*/

/*BOX CART*/
.box-cart{
	display: none;
}
#legend_image_cart{
	display: block;
	visibility: hidden;
	background-color: white;
	color:black;
	top:10px;
	left:50px;

}
#cart:hover #legend_image_cart{
	visibility: visible;
}

/*BARRA NAVEGAÇÃO*/
#nav{
	width: 100%;
	height: 60px;
	padding-top: 5px;
	background-color: black;
	text-align: center;
	overflow: hidden;
	z-index: -1;
	position: relative;
}
a.categoria {
	font-family: ringBearer,sans-serif;
	font-size: 18px;
	margin-left: 15px;
	margin-top:10px;
	display: inline-block;
	text-align: center;
	padding:5px;
	color:gold;
	overflow: hidden;
}
a.categoria:first-letter{
	font-family: optimusPriceps;
	font-weight: bold;
}
a.categoria:hover{
	/*font-size: 20px;*/
	color:deepskyblue;
	letter-spacing: 0;
}

/*ELEMENTO TESTE*/
.corpo{
	position: relative;
	margin:auto;
	top:0px;
	right: 0px;
	width: 980px;
	height: 1300px;
	/*background: transparent url(../img/artorias_wall.jpg) no-repeat bottom left ;*/
	z-index: -1;
	border:3px solid white;
}









