{% extends 'head.html' %}
{% block conteudo %}
<link rel="stylesheet" href="../../lib/style/conteudo_adm.css">
<div class="conteudo">
    <div class="painel">
        <div class="aba-nav">
            <h3 id="aba-title-cliente" onclick="showAba('cliente')" class="aba-title active">Clientes</h3>
            <h3 id="aba-title-produto" onclick="showAba('produto')" class="aba-title">Produtos</h3>
        </div>
        <div class="aba">
            <table id="tabela-cliente" class="table table-dark">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">&nbsp</th>
                </tr>
                </thead>
                <tbody>
                {% for cliente in clientList %}
                <tr>
                    <td>{{cliente.nome}}</td>
                    <td>{{cliente.email}}</td>
                    <td>{{cliente.endereco}}</td>
                    <td>{{cliente.telefone}}</td>
                    <td>
                        <!--<a href="#modalAlterCliente"><img src="../../lib/img/icon/if_pencil_basic_red.png" alt="pencil"></a>-->
                        <form action="" method="POST">
                            <input type="submit" class="botao remove-item" value="" id="remove-cliente">
                            <input type="hidden" value="{{cliente.email}}" name="remove_email">
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div id="adicionar-produto">
                <form id="form-adc-produto" action="" method="post">
                    <input type="text" name="nome-produto" id="cadastrar-nome-produto"
                           placeholder="Nome do Produto">
                    <input type="text" name="preco-produto" id="cadastrar-preco-produto"
                           placeholder="Preço do Produto">
                    <textarea rows="1" name="descricao-produto" id="cadastrar-descricao-produto"
                              placeholder="Descrição"></textarea>
                    <input type="submit" class="botao" name="add-produto" value="" id="add-produto">
                    <input type="hidden" name="add">
                </form>
            </div>

            <table id="tabela-produto" class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Preço Unitário</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">
                        <a href="#modalAlterProduto" data-toggle="modal"><img id="editar-produto" src="../../lib/img/icon/if_pencil_basic_red.png" alt="pencil"></a>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for produto in produtoList %}
                <tr>
                    <td>{{produto.id}}</td>
                    <td>{{produto.nome}}</td>
                    <td>{{produto.precoUnit}}</td>
                    <td>{{produto.descricao}}</td>
                    <td>
                        <form action="tester.php" method="post">
                         <input class="botao remove-item" type="submit"  value="" id="remove-produto">
                         <input type="hidden" value="{{produto.id}}" name="remove_produto">
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

<!-- MODAL ALTERAÇÃO DE PRODUTO-->
<div class="modal fade" id="modalAlterProduto" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content alter-modal">
            <div class="modal-body alter-modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <form action="../view/tester.php" method="get">
                    <input type="text" name="produto_nome" id="produto_nome" placeholder="{{produto.id}}">
                    <input type="text" name="produto_preco"  id="produto_preco" placeholder="{{id}}" >
                    <textarea rows="1" name="produto_descr"  id="produto_descr" placeholder="Descrição"></textarea>
                    <input type="hidden" id="produto_id" name="id" value="{% do id %}" >
                    <input type="submit" value="Alterar" class="botao enviar">
                    <input type="hidden" name="alterProdutoForm">

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock conteudo %}