<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Pragma" content="no-cache">
    <!--IMPORTS-->
        <!-- BOOTSTRAP-->
            <link rel="stylesheet" type="text/css" href="../../lib/bootstrap/bootstrap.css">
            <script  src="../../lib/bootstrap/jquery-3.1.1.min.js"></script>
            <script  src="../../lib/bootstrap/bootstrap.min.js"></script>
        <!--normalize-->
            <link rel="stylesheet" href="../../lib/style/normalize.css">
            <link rel="stylesheet" href="../../lib/style/resets.css">
        <!--CSS-->
             <link rel="stylesheet" type="text/css" href="../../lib/style/head.css">
             <link rel="stylesheet" type="text/css" href="../../lib/style/fonts.css">
             <link rel="stylesheet" type="text/css" href="../../lib/style/modals.css">
        <!--JS-->
             <script  src="../../lib/script/Myscript.js"></script>

    <title>SOULSTORE - A loja do Dark Souls</title>
    <link rel="icon" href="../../lib/img/icon/icon.jpg" type="icon">
</head>
<body>
<div class="topo">
   <div id="superior">
    <div id="box_titulo">
       <a href="head.html" class="link">
           <h1 class="titulo">SOULSTORE</h1>
           <h2 class="subtitulo"> A loja do Dark Souls</h2>
       </a>
    </div>
    <div id="account_box">
       <div id="account">
            <img class="image_account" src="../../lib/img/icon/if_Customers_Filled_white.png" alt="Login Account">
                 <div class="arrow-account"  href="#"></div>
                    <div class="box-login">
                        <ul>
                            <li class="item-topo list" id="welcome">Bem vindo, The chosen one !</li>
                            <li class="list-inicio-login list">
                                <a id="minha_conta" data-toggle="modal" class="item-topo" onclick="myAccount()" href="{{open}}" >Minha Conta</a>
                            </li>
                            <li class="list-inicio-login list">
                                <a id="meus_pedidos" class="item-topo ">Meus Pedidos</a>
                            </li>
                        </ul>
                </div>
        </div>
       <!-- <div id="cart">
                <img class="image_account" onclick="showContador()" src="../../lib/img/icon/if_Asset_21.png" alt="shop cart">
                 <span class="legenda" id="legend_image_cart">Carrinho de Compras</span>
                <div class="box-cart">
                    <p class="cart-item" id="contador">00</p>
                    <span class="cart-item">itens</span>
                </div>-->
        </div><!--FIM DO ACCOUNT BOX-->
    </div> <!--FIM  DO SUPERIOR-->
        <div id="barra_pesquisa" >
            <input id="search-topo" type="text" autocomplete="off"  name="search" placeholder="Pesquisar">
            <button type="button" class="botao" id="buscar" ></button>
        </div>
    <div id="inferior">
         <nav id="nav">
             <a class="categoria" href="#">Camisas</a>
             <a class="categoria" href="#">Acessórios</a>
             <a class="categoria" href="#">Livros</a>
             <a class="categoria" href="#">Colecionáveis</a>
             <a class="categoria" href="#">Decoração</a>
         </nav>
    </div><!--FIM DO INFERIOR -->
</div><!--FIM DO TOPO-->

{% block conteudo %}

{% endblock %}



<!-- Modal Login -->
<div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content login-modal">
            <div class="modal-header" style="padding:35px 50px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Acesse Sua Conta</h4>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
                <form role="form" method="post">
                    <div class="form-group">
                        <input type="text" name="email" autocomplete="off" class="form-control icone-email" id="email" placeholder="E-mail">
                    </div>
                    <div class="form-group">
                        <input type="password" onclick="resetSenha()" autocomplete="off" class="form-control icone-senha" name="senha" id="senha" placeholder="Senha">
                    </div>
                    <button type="submit" name="botaologar" class="input btn-block btn-in">Login</button>
                    <a data-toggle="modal" data-dismiss="modal"  href="#recoverSenha" class="recoverSenha"><span>Esqueci Minha Senha</span></a>
                    <input type="hidden" name="loginform">
                </form>
            </div>
            <div class="modal-footer">
                <span class="info"> Ainda Não Possui uma Conta?</span>
                <button name="botaoCriar" class="botao btn-in createAccount">Criar Conta</button>

            </div>
        </div>

    </div>
</div><!--FIM DO MODAL LOGIN-->
<div class="modal fade" id="recoverSenha" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content senha-modal">
            <div class="modal-header senha-modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Enviaremos uma nova senha ao seu E-mail de Cadastro</h4>
            </div>
            <div class="modal-body senha-modal-body">
                <form action="" method="post">
                    <input type="text" name="confirmEmail" autocomplete="off" class="form-control" id="confirmEmail" placeholder="Confirme seu E-mail">
                    <input type="submit" class="botao enviar"  value="Enviar" name="recoverSenha">
                    <input type="hidden" name="recSenhaForm">
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>