{% extends 'head.html' %}
{% block conteudo %}
    <link rel="stylesheet" type="text/css" href="../../lib/style/corpo.css">
    {% include "slide.html" %}

    <div class="conteudo">
       <div class="bloco">


       </div>
        <div class="bloco">

        </div>
        <div class="bloco">

        </div>
        <div class="bloco">

        </div>

    {#  TODO: CRIAR BOX COM PRODUTOS
        TODO: APRENDER A ADICIONAR NO CARRINHO
        TODO: CRUD
        #}

    </div>
{% endblock %}