{% extends 'head.html' %}
{% block conteudo %}
    <link rel="stylesheet" type="text/css" href="../../lib/style/conteudo_index.css">
    {% include "slide.html" %}
<div class="conteudo">

    <div class="bloco">
        <img class="camisa" src="../../lib/img/camisas/camisa6.jpg" align="center">
        <p class="text_produto">Camisa Born Warrior</p>
        <div class="pricebox">
					<span class="spanprice">
						<b><span class="price">R$ 23,99</span></b>
					</span>
        </div>
        <span class="parcela">
					<strong class="ou">ou</strong>
					<strong class="qntparcela">3X</strong>
					<strong class="de">de </strong>
					<strong class="valorparcela">R$ 8,00</strong>
				</span>
        <button class="botao botao-add">Adicionar Carrinho</button>
    </div>

    <div class="bloco">
        <img class="camisa" src="../../lib/img/camisas/camisa3.jpg" align="center">
        <p class="text_produto">Camisa Dark Souls II</p>
        <div class="pricebox">
					<span class="spanprice">
						<b><span class="price">R$ 55,99</span></b>
					</span>
        </div>
        <span class="parcela">
					<strong class="ou">ou</strong>
					<strong class="qntparcela">10X</strong>
					<strong class="de">de </strong>
					<strong class="valorparcela">R$ 19,00</strong>
				</span>
        <button class=" botao botao-add">Adicionar Carrinho</button>
    </div>

    <div class="bloco">
        <img class="camisa" src="../../lib/img/camisas/camisa7.jpg" align="center">
        <p class="text_produto">Camisa Dark Souls - knight</p>
        <div class="pricebox">
					<span class="spanprice">
						<b><span class="price">R$ 23,99</span></b>
					</span>
        </div>
        <span class="parcela">
					<strong class="ou">ou</strong>
					<strong class="qntparcela">4X</strong>
					<strong class="de">de </strong>
					<strong class="valorparcela">R$ 8,00</strong>
				</span>
        <button class="botao botao-add">Adicionar Carrinho</button>
    </div>

    <div class="bloco">
        <img class="camisa" src="../../lib/img/camisas/camisa4.jpg" align="center">
        <p class="text_produto">Camisa Dark Souls</p>
        <div class="pricebox">
					<span class="spanprice">
						<b><span class="price">R$ 55,99</span></b>
					</span>
        </div>
        <span class="parcela">
					<strong class="ou">ou</strong>
					<strong class="qntparcela">8X</strong>
					<strong class="de">de </strong>
					<strong class="valorparcela">R$ 5,00</strong>
				</span>
        <button class=" botao botao-add">Adicionar Carrinho</button>
    </div>
    <div class="bloco">
        <img class="camisa" src="../../lib/img/camisas/camisa5.jpg" align="center">
        <p class="text_produto">Camisa Artorias</p>
        <div class="pricebox">
					<span class="spanprice">
						<b><span class="price">R$ 55,99</span></b>
					</span>
        </div>
        <span class="parcela">
					<strong class="ou">ou</strong>
					<strong class="qntparcela">5X</strong>
					<strong class="de">de </strong>
					<strong class="valorparcela">R$ 19,90</strong>
				</span>
        <button class=" botao botao-add">Adicionar Carrinho</button>
    </div>
    <!--<div class="bloco">
        <img class="camisa" src="../../lib/img/camisas/camisa.jpg" align="center">
        <p class="text_produto">Camisa Dark Souls - Born Warrior</p>
        <div class="pricebox">
					<span class="spanprice">
						<b><span class="price">R$ 55,99</span></b>
					</span>
        </div>
        <span class="parcela">
					<strong class="ou">ou</strong>
					<strong class="qntparcela">8X</strong>
					<strong class="de">de </strong>
					<strong class="valorparcela">R$ 5,00</strong>
				</span>
        <button class=" botao botao-add">Adicionar Carrinho</button>
    </div>-->
</div>
{% endblock %}