<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="pragma" content="no-cache">
    <!--CSS-->
    <link rel="stylesheet" href="../../lib/style/resets.css">
    <link rel="stylesheet" href="../../lib/style/normalize.css">
    <link rel="stylesheet" href="../../lib/style/slide.css">

    <!--SCRIPT-->
    <script src="../../lib/script/slide.js"></script>
</head>
<body>
    <div id="slide-box">
            <div class="imagens">
                <img src="../../lib/img/dk1.jpg">
            </div>

            <div class="imagens">
                <img src="../../lib/img/dk2.jpg" >
            </div>
            <div class="imagens">
                <img src="../../lib/img/dk3.png" >
            </div>

            <div class="imagens">
                <img src="../../lib/img/dkartorias.jpg" >
            </div>

            <div class="imagens">
                <img src="../../lib/img/dk22.jpg" >
            </div>
        <div class="passador esquerda">
            <a class="arrows link" onclick="move(-1)" id="anterior"> &#10094; </a>
        </div>
        <div class="passador direita">
            <a class="arrows link" onclick="forward()" id="proximo"> &#10095; </a>
        </div>
        <div id="pageador">
        </div>

    </div><!--FIM  DO SLIDE BOX -->
</body>
</html>