<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="pragma" content="no-cache">
    <!--CSS-->
    <link rel="stylesheet" href="../style/resets.css">
    <link rel="stylesheet" href="../style/normalize.css">
    <link rel="stylesheet" href="../style/slide.css">

    <!--SCRIPT-->
    <script src="../script/slide.js"></script>
</head>
<body>
    <div id="slide-box">
        <div id="image-box">
            <figure class="figuras">
                <img src="../img/wpreino.jpg" >
            </figure>

            <figure class="figuras">
                <img src="../img/wpdk1.jpg" >
            </figure>
            <figure class="figuras">
                <img src="../img/wpdk2.jpg" >
            </figure>

            <figure class="figuras">
                <img src="../img/wpdk3.jpg" >
            </figure>

            <figure class="figuras">
                <img src="../img/wplordofcinder.jpg" >
            </figure>
        </div><!--FIM  DO IMAGE-BOX-->
    </div><!--FIM  DO SLIDE BOX -->
</body>
</html>