<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="pragma" content="no-cache">
    <!--CSS-->
    <link rel="stylesheet" href="../style/resets.css">
    <link rel="stylesheet" href="../style/normalize.css">
    <link rel="stylesheet" href="../style/slide.css">

    <!--SCRIPT-->
    <script src="../script/slide.js"></script>
</head>
<body>
    <div id="slide-box">
            <div class="imagens">
                <img src="../img/wpreino.jpg">
            </div>

            <div class="imagens">
                <img src="../img/wpdk1.jpg" >
            </div>
            <div class="imagens">
                <img src="../img/wpdk2.jpg" >
            </div>

            <div class="imagens">
                <img src="../img/wpdk3.jpg" >
            </div>

            <div class="imagens">
                <img src="../img/wplordofcinder.jpg" >
            </div>
        <div class="passador esquerda">
            <a class="arrows" id="anterior"> &#10094; </a>
        </div>
        <div class="passador direita">
            <a class="arrows" id="proximo"> &#10095; </a>
        </div>
        <div id="pageador">
        </div>

    </div><!--FIM  DO SLIDE BOX -->
</body>
</html>