<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div id="slide-box">
        <div id="image-box">
            <figure class="figuras">
                <img src="" >
            </figure>

            <figure class="figuras">
                <img src="" >
            </figure>

            <figure class="figuras">
                <img src="" >
            </figure>

            <figure class="figuras">
                <img src="" >
            </figure>

            <figure class="figuras">
                <img src="" >
            </figure>
        </div><!--FIM  DO IMAGE-BOX-->
    </div><!--FIM  DO SLIDE BOX -->

</body>
</html>